{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "jest": true,
    "browser": true
  },
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {}
}
